<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:body>
        <h:form id="formDialogLogin" >
            <p:dialog id="dialogLogin"
                      header="Login"
                      widgetVar="dialogLogin" 
                      modal="true"
                      height="226" width="350">
                <p:messages autoUpdate="true"/>
                <p:outputPanel id="panelLogin">
                    <p:panelGrid columns="1" styleClass="panelGridLoginDialog">
                        <p:outputLabel value="Email:" for="username"/>
                        <p:inputText style="width: 300px" id="username" value="#{sessionController.username}"/>
                        <p:outputLabel value="Senha:"  for="password"/>
                        <p:password style="width: 300px" id="password" value="#{sessionController.password}" />
                    </p:panelGrid>
                    <p:panelGrid columns="2" styleClass="panelGridLoginDialog">                    
                        <p:commandButton value="Entrar" ajax="true" update=":formDialogLogin:panelLogin" action="#{sessionController.doLogin()}"/>
                        <p:commandButton value="Cancelar" onclick="PF('dialogLogin').close();"/>
                    </p:panelGrid>
                </p:outputPanel>
            </p:dialog>
        </h:form>
    </h:body>
</html>