<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>Portal do Ensino</title>
        <h:outputStylesheet name="css/portaldoensino-primefaces.css" />
        <h:outputStylesheet name="css/portaldoensino.css" />
    </h:head>
    <h:body id="pagina">
        <p:layout fullPage="true" id="page">
            <p:layoutUnit position="north" size="66" >
                <ui:insert name="topo" >
                    <ui:include src="topo/topo.xhtml" />
                </ui:insert>
            </p:layoutUnit>
            <p:layoutUnit position="west" size="200">
                <ui:insert name="esquerda" >
                    <ui:include src="barralateralesquerda/barralateralesquerda.xhtml"/>
                </ui:insert>
            </p:layoutUnit>
            <p:layoutUnit position="east" size="240">
                <ui:insert name="direita" >
                    <ui:include src="barralateraldireita/barralateraldireita.xhtml" />
                </ui:insert>
            </p:layoutUnit>
            <p:layoutUnit position="center" style="border: none !important;">    
                <ui:include src="chat/chat.xhtml" />
                <ui:insert name="conteudo" >
                </ui:insert>
            </p:layoutUnit>
        </p:layout>
        <ui:insert name="login" >
            <ui:include src="login/login.xhtml" />
        </ui:insert>
    </h:body>
</html>
