<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:body>
        <h:form id="formDialog" style="position:relative" rendered="#{sessionController.loggedIn and not empty sessionController.usuarioLogado.amigos}">            
            <p:dialog id="dialogChat" resizable="false" header="#{sessionController.usuarioConversa.amigo.nomeCompleto}" widgetVar="dialogChat" height="400" width="400">
                <p:panel id="panelChat" style="height: 344px; overflow:auto;">
                    <ui:repeat id="chat" value="#{sessionController.mensagensChat}" var="mensagem" >
                        <p:panelGrid columns="2">
                            <p:column>
                                <h:graphicImage styleClass="avatarTopo" url="#{mensagem.usuarioEnvio.avatarUrl}" height="22" width="22" />
                            </p:column>
                            <p:column>   <h:outputText value="#{mensagem.mensagem}"/>
                            </p:column>
                        </p:panelGrid>   
                    </ui:repeat>
                    <p:poll interval="1"
                            update="panelChat :barraLateralForm:tabelaAmigos"
                            stop="#{!sessionController.loggedIn}"
                            oncomplete="scrollToBottom()"
                            listener="#{sessionController.atualizarMensagemComAmigo()}"/>
                </p:panel>
                <p:panel style="position:absolute; bottom:0; width:364px;">
                    <p:inputText id="mensagem" style="width: 258px;" value="#{sessionController.mensagemChat}"/>
                    <p:commandButton value="Enviar" update="mensagem" oncomplete="scrollToBottom()" actionListener="#{sessionController.enviarMensagemChat()}"/>
                </p:panel>
                <p:ajax event="close" listener="#{sessionController.fecharChat()}"/>
            </p:dialog>
            <script>
                function scrollToBottom() {
                    var objDiv = document.getElementById("formDialog:panelChat");
                    objDiv.scrollTop = objDiv.scrollHeight;
                }
            </script>
        </h:form>
    </h:body>
</html>