<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <f:metadata>
        <f:viewParam name="cursoId" value="#{instituicaoView.curso.id}" />
        <f:viewAction action="#{instituicaoView.loadCurso()}" if="#{not empty param['cursoId']}"/>
    </f:metadata>
    <h:body>
        <ui:composition template="/resources/template/layout.xhtml">
            <ui:define name="conteudo">
                <h:form styleClass="tema" rendered="#{sessionController.loggedIn and instituicaoView.curso.instituicao.ehAdministrador(sessionController.usuarioLogado)}"> 
                    <p:fieldset legend="Curso #{instituicaoView.curso.nome}" >                        
                        <p:commandButton value="Voltar para o curso" ajax="false" 
                                         icon="ui-icon-arrowreturn-1-w"
                                         rendered="#{!instituicaoView.curso.new}" action="#{instituicaoView.voltarParaCurso()}"/>
                        <br/>
                        <p:outputLabel value="Convidar aluno: "/>
                        <p:autoComplete id="usuarios" value="#{instituicaoView.usuarioConvidado}" 
                                        var="usuario" itemValue="#{usuario}" itemLabel="#{usuario.nome}"
                                        multiple="false"
                                        completeMethod="#{instituicaoView.getPossiveisAlunos}"
                                        converter="#{genericEntityConverter}" forceSelection="true">
                            <p:column>
                                <h:graphicImage styleClass="avatarTopo" url="#{usuario.avatarUrl}" height="22" width="22" />
                            </p:column>
                            <p:column>
                                <h:outputText value="#{usuario.nomeCompleto}" />
                            </p:column>

                        </p:autoComplete>
                        <p:commandButton value="Convidar" action="#{instituicaoView.convidarAluno()}"/>
                        <br/>
                        <p:spacer height="10"/>
                        <p:dataTable value="#{instituicaoView.curso.alunosSet}"   
                                     rows="10"
                                     emptyMessage="Nenhum aluno encontrado."
                                     paginator="true"
                                     paginatorPosition="bottom"
                                     var="membro">
                            <p:column style="text-align: left; width: 24px;"> 
                                <h:button image="#{membro.avatarUrl}" styleClass="avatarComentario" 
                                          outcome="/usuario/visualizar.xhtml?faces-redirect=true" value="3">
                                    <f:param name="usuarioId" value="#{membro.id}"/>
                                </h:button>    
                            </p:column>
                            <p:column style="text-align: left;" filterStyle="width: 100%" filterBy="#{membro.nomeCompleto}" filterMatchMode="contains">
                                <p:outputLabel value="#{membro.nomeCompleto}"/>
                            </p:column>
                            <p:column width="140">
                                <p:commandButton value="Convidar para AVA"    
                                                 icon="ui-icon-plus"   
                                                 disabled="#{instituicaoView.conviteExistente(membro)}"
                                                 action="#{instituicaoView.convidarAlunoParaAva(membro)}"/>
                            </p:column>
                            <p:column width="140">
                                <p:commandButton value="Remover do curso"    
                                                 icon="ui-icon-minus"          
                                                 action="#{instituicaoView.removerAlunoDoCurso(membro)}"/>
                            </p:column>
                        </p:dataTable>
                        <p:outputLabel value="Convidar professor: "/>
                        <p:autoComplete id="usuariosprofessor" value="#{instituicaoView.professorConvidado}" 
                                        var="usuario" itemValue="#{usuario}" itemLabel="#{usuario.nome}"
                                        multiple="false"
                                        completeMethod="#{instituicaoView.getPossiveisProfessores}"
                                        converter="#{genericEntityConverter}" forceSelection="true">
                            <p:column>
                                <h:graphicImage styleClass="avatarTopo" url="#{usuario.avatarUrl}" height="22" width="22" />
                            </p:column>
                            <p:column>
                                <h:outputText value="#{usuario.nomeCompleto}" />
                            </p:column>

                        </p:autoComplete>
                        <p:commandButton value="Convidar" action="#{instituicaoView.convidarProfessor()}"/>
                        <br/>
                        <p:spacer height="10"/>
                        <p:dataTable value="#{instituicaoView.curso.professoresSet}"   
                                     rows="10"
                                     emptyMessage="Nenhum professor encontrado."
                                     paginator="true"
                                     paginatorPosition="bottom"
                                     var="membro">
                            <p:column style="text-align: left; width: 24px;"> 
                                <h:button image="#{membro.avatarUrl}" styleClass="avatarComentario" 
                                          outcome="/usuario/visualizar.xhtml?faces-redirect=true" value="3">
                                    <f:param name="usuarioId" value="#{membro.id}"/>
                                </h:button>    
                            </p:column>
                            <p:column style="text-align: left;" filterStyle="width: 100%" filterBy="#{membro.nomeCompleto}" filterMatchMode="contains">
                                <p:outputLabel value="#{membro.nomeCompleto}"/>
                            </p:column>
                            <p:column width="140">
                                <p:commandButton value="Convidar para AVA"    
                                                 icon="ui-icon-plus"          
                                                 disabled="#{instituicaoView.conviteExistente(membro)}"
                                                 action="#{instituicaoView.convidarProfessorParaAva(membro)}"/>
                            </p:column>
                            <p:column width="140">
                                <p:commandButton value="Remover do curso"    
                                                 icon="ui-icon-minus"          
                                                 action="#{instituicaoView.removerProfessorDoCurso(membro)}"/>
                            </p:column>
                        </p:dataTable>
                    </p:fieldset>
                </h:form>
            </ui:define>
        </ui:composition> 
    </h:body>
</html>
