<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <f:metadata>
        <f:viewParam name="instituicaoId" value="#{instituicaoView.instituicao.id}" />
        <f:viewAction action="#{instituicaoView.loadEdicao()}" if="#{not empty param['instituicaoId']}"/>
    </f:metadata>
    <h:body>
        <ui:composition template="/resources/template/layout.xhtml">
            <ui:define name="conteudo">
                <h:form styleClass="tema" rendered="#{sessionController.loggedIn and instituicaoView.instituicao.ehAdministrador(sessionController.usuarioLogado)}"> 
                    <p:fieldset legend="Instituição #{instituicaoView.instituicao.nome}" >
                        <p:commandButton value="Voltar para a instituição" ajax="false" 
                                         icon="ui-icon-arrowreturn-1-w"
                                         rendered="#{!instituicaoView.instituicao.new}" action="#{instituicaoView.voltarParaInstituicao()}"/>
                        <br/>
                        <p:outputLabel value="Convidar usuário para administração: "/>
                        <p:autoComplete id="usuarios" value="#{instituicaoView.usuarioConvidado}" 
                                        var="usuario" itemValue="#{usuario}" itemLabel="#{usuario.nome}"
                                        multiple="false"
                                        completeMethod="#{instituicaoView.getUsuarios}"
                                        converter="#{genericEntityConverter}" forceSelection="true">
                            <p:column>
                                <h:graphicImage styleClass="avatarTopo" url="#{usuario.avatarUrl}" height="22" width="22" />
                            </p:column>
                            <p:column>
                                <h:outputText value="#{usuario.nomeCompleto}" />
                            </p:column>

                        </p:autoComplete>
                        <p:commandButton value="Convidar" action="#{instituicaoView.convidarAdministrador()}"/>
                        <br/>
                        <p:spacer height="10"/>
                        <p:dataTable value="#{instituicaoView.instituicao.administradoresSet}"   
                                     rows="50"
                                     emptyMessage="Nenhum membro encontrado."
                                     paginator="true"
                                     paginatorPosition="bottom"
                                     var="membro">
                            <p:column style="text-align: left; width: 24px;"> 
                                <h:button image="#{membro.avatarUrl}" styleClass="avatarComentario" 
                                          outcome="/usuario/visualizar.xhtml?faces-redirect=true" value="3">
                                    <f:param name="usuarioId" value="#{membro.id}"/>
                                </h:button>    
                            </p:column>
                            <p:column style="text-align: left;" filterStyle="width: 100%" filterBy="#{membro.nomeCompleto}" filterMatchMode="contains">
                                <p:outputLabel value="#{membro.nomeCompleto}"/>
                            </p:column>
                            <p:column width="140">
                                <p:commandButton value="Remover da instituição"    
                                                 icon="ui-icon-minus"          
                                                 action="#{instituicaoView.removerDaInstituicao(membro)}"/>
                            </p:column>
                        </p:dataTable>
                    </p:fieldset>
                </h:form>
            </ui:define>
        </ui:composition> 
    </h:body>
</html>
