<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <f:metadata>
        <f:viewParam name="cursoId" value="#{instituicaoView.curso.id}" />
        <f:viewAction action="#{instituicaoView.loadCurso()}" />
        <f:viewAction if="#{not empty param['cursoId']}" action="#{publicacaoView.loadCurso(instituicaoView.curso.id)}" />
    </f:metadata>
    <h:body>
        <ui:composition template="/resources/template/layout.xhtml">
            <ui:define name="conteudo">
                <p:fieldset legend="Curso #{instituicaoView.curso.nome}" >
                    <h:form styleClass="tema" >
                        <h:panelGrid columns="2" style="width: 100%;"
                                     columnClasses="colunaTopoGrupo1, colunaTopoGrupo2">
                            <p:column >
                                <p:commandButton value="Voltar para a instituição" ajax="false" 
                                                 icon="ui-icon-arrowreturn-1-w"
                                                 rendered="#{!instituicaoView.instituicao.new}" action="#{instituicaoView.voltarParaInstituicao()}"/>
                                <p:commandButton value="Administrar membros do curso" icon="ui-icon-person" action="#{instituicaoView.administrarMembrosDoCurso()}" 
                                                 rendered="#{sessionController.loggedIn
                                                             and !instituicaoView.instituicao.new
                                                             and instituicaoView.instituicao.administradores.contains(sessionController.usuarioLogado)}"/>
                                <p:commandButton value="Solicitar participação" icon="ui-icon-plus" action="#{instituicaoView.solicitarParticipacaoCurso()}" 
                                                 rendered="#{sessionController.loggedIn
                                                             and !instituicaoView.possuiSolicitacaoEntradaPendente()
                                                             and !instituicaoView.curso.alunos.contains(sessionController.usuarioLogado)
                                                             and !instituicaoView.curso.professores.contains(sessionController.usuarioLogado)
                                                             and !instituicaoView.curso.instituicao.administradores.contains(sessionController.usuarioLogado)}"/>
                                <p:commandButton value="Solicitação pendente" icon="ui-icon-plus" 
                                                 disabled="true"
                                                 rendered="#{sessionController.loggedIn
                                                             and instituicaoView.possuiSolicitacaoEntradaPendente()
                                                             and !instituicaoView.curso.alunos.contains(sessionController.usuarioLogado)
                                                             and !instituicaoView.curso.professores.contains(sessionController.usuarioLogado)
                                                             and !instituicaoView.curso.instituicao.administradores.contains(sessionController.usuarioLogado)}"/>
                            </p:column>
                            <p:column >
                                <p:commandButton value="Deixar curso" icon="ui-icon-minus" action="#{instituicaoView.deixarCurso()}" 
                                                 rendered="#{sessionController.loggedIn
                                                             and (instituicaoView.curso.alunos.contains(sessionController.usuarioLogado)
                                                                  or instituicaoView.curso.professores.contains(sessionController.usuarioLogado))}"/>
                            </p:column>
                        </h:panelGrid>
                        <br/>
                        <p:spacer height="10"/>
                        <p:panelGrid columns="2" style="width: 100%; padding-top: 20px;" columnClasses="colunaGrupo1">
                            <p:outputLabel value="Descrição: " />
                            <p:outputLabel escape="false" value="#{instituicaoView.instituicao.descricao}"/>                            
                        </p:panelGrid>
                    </h:form>
                    <p:tabView >
                        <p:tab title="Publicações">
                            <p:panel rendered="#{instituicaoView.curso.professores.contains(sessionController.usuarioLogado)}">
                                <ui:include src="../resources/template/publicacao/publicar.xhtml"/>  
                            </p:panel>
                            <ui:repeat id="repeatPublicacoes" value="#{publicacaoView.publicacoes}"
                                       varStatus="publicacaoIterator" var="publicacao">
                                <ui:include src="../resources/template/publicacao/publicacoes.xhtml"  rendered="#{!publicacao.modoEdicao}" >
                                    <ui:param name="publicacao" value="#{publicacao}"/>
                                    <ui:param name="moderador" value="#{instituicaoView.instituicao.ehAdministrador(sessionController.usuarioLogado)
                                                                        or instituicaoView.curso.ehProfessor(sessionController.usuarioLogado)}"/>
                                </ui:include>                        
                            </ui:repeat>
                        </p:tab> 
                        <p:tab title="Alunos">
                            <p:dataTable value="#{instituicaoView.curso.alunosSet}"   
                                         rows="50"  
                                         paginator="true"
                                         var="membro">
                                <p:column style="text-align: left; width: 24px;"> 
                                    <h:button image="#{membro.avatarUrl}" styleClass="avatarComentario" outcome="/usuario/visualizar.xhtml?faces-redirect=true" value="3">
                                        <f:param name="usuarioId" value="#{membro.id}"/>
                                    </h:button>    
                                </p:column>
                                <p:column style="text-align: left;" headerText="Alunos">
                                    <p:outputLabel value="#{membro.nomeCompleto}"/>
                                </p:column>
                            </p:dataTable>
                        </p:tab>
                        <p:tab title="Professores">
                            <p:dataTable value="#{instituicaoView.curso.professoresSet}"   
                                         rows="50"
                                         paginator="true"
                                         var="membro">
                                <p:column style="text-align: left; width: 24px;"> 
                                    <h:button image="#{membro.avatarUrl}" styleClass="avatarComentario" outcome="/usuario/visualizar.xhtml?faces-redirect=true" value="3">
                                        <f:param name="usuarioId" value="#{membro.id}"/>
                                    </h:button>    
                                </p:column>
                                <p:column style="text-align: left;" headerText="Professores">
                                    <p:outputLabel value="#{membro.nomeCompleto}"/>
                                </p:column>
                            </p:dataTable>
                        </p:tab>
                    </p:tabView>
                </p:fieldset>
            </ui:define>
        </ui:composition> 
    </h:body>
</html>
