<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <f:metadata>
        <f:viewParam name="instituicaoId" value="#{instituicaoView.instituicao.id}" />
        <f:viewAction action="#{instituicaoView.loadEdicao()}" if="#{not empty param['instituicaoId']}"/>
    </f:metadata>
    <h:body>
        <ui:composition template="/resources/template/layout.xhtml">
            <ui:define name="conteudo">
                <h:form id="instituicaoForm" styleClass="tema" rendered="#{sessionController.loggedIn}">
                    <p:fieldset legend="Instituição #{instituicaoView.instituicao.nome}" >
                        <p:commandButton value="Voltar para a instituição" ajax="false" 
                                         icon="ui-icon-arrowreturn-1-w"
                                         rendered="#{!instituicaoView.instituicao.new}" action="#{instituicaoView.voltarParaInstituicao()}"/>
                        <p:commandButton value="Administrar usuários" icon="ui-icon-person" action="#{instituicaoView.administrarUsuarios()}" 
                                         rendered="#{sessionController.loggedIn
                                                     and !instituicaoView.instituicao.new
                                                     and instituicaoView.instituicao.administradores.contains(sessionController.usuarioLogado)}"/>
                        <br/>
                        <p:spacer height="10"/>
                        <p:messages/>
                        <p:panelGrid columns="2">
                            <p:outputLabel value="Nome: "/>
                            <p:inputText required="true" value="#{instituicaoView.instituicao.nome}"/>
                            <p:outputLabel value="Descrição: "/>
                            <p:editor value="#{instituicaoView.instituicao.descricao}"/>
                            <p:outputLabel value="Adicionar curso: " rendered="#{!instituicaoView.instituicao.new}"/>
                            <p:panelGrid columns="2" style="border:none !important;" rendered="#{!instituicaoView.instituicao.new}">
                                <p:inputText value="#{instituicaoView.novoCurso}"/>
                                <p:commandButton value="Adicionar" action="#{instituicaoView.adicionarCurso()}"/>
                            </p:panelGrid>
                            <p:outputLabel value="Cursos oferecidos: " rendered="#{!instituicaoView.instituicao.new}"/>
                            <p:dataTable value="#{instituicaoView.instituicao.cursosSet}" emptyMessage="Nenhum curos oferecido." var="curso" rendered="#{!instituicaoView.instituicao.new}">
                                <p:column>
                                    <p:outputLabel escape="false" value=" - #{curso.nome}"/>
                                </p:column>
                                <p:column width="62">  
                                    <p:commandButton oncomplete="PF('dialogCursos').show();" update=":formDialogCurso" actionListener="#{instituicaoView.editarCurso(curso)}" icon="ui-icon-pencil"/>
                                    <p:commandButton update="@form" process="@form" action="#{instituicaoView.excluirCurso(curso)}" icon="ui-icon-trash"/>
                                </p:column>
                            </p:dataTable>
                            <p:outputLabel value="Possui AVA: "/>
                            <p:selectBooleanCheckbox value="#{instituicaoView.instituicao.possuiAva}">
                                <p:ajax update="avaUtilizadoLabel avaUtilizado tokenAcessoLabel tokenAcesso enderecoAvaLabel enderecoAva" />
                            </p:selectBooleanCheckbox>
                            <p:outputLabel id="avaUtilizadoLabel" value="AVA utilizado: " for="avaUtilizado" />
                            <p:selectOneMenu id="avaUtilizado" value="#{instituicaoView.instituicao.tipoAva}" disabled="#{not instituicaoView.instituicao.possuiAva}" >
                                <f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
                                <f:selectItems value="#{instituicaoView.tiposAva}" var="tipoAva" itemLabel="#{tipoAva.descricao}" />
                            </p:selectOneMenu>
                            <p:outputLabel id="enderecoAvaLabel" value="Endereço ava: " for="enderecoAva"/>
                            <p:inputText id="enderecoAva" required="true" value="#{instituicaoView.instituicao.enderecoAva}" disabled="#{not instituicaoView.instituicao.possuiAva}"/>
                            <p:outputLabel id="tokenAcessoLabel" value="Token de acesso: " for="tokenAcesso"/>
                            <p:inputText id="tokenAcesso" required="true" value="#{instituicaoView.instituicao.tokenAcesso}" disabled="#{not instituicaoView.instituicao.possuiAva}"/>
                            <p:spacer/>
                            <p:panelGrid style="border: none !important;    width: 100%;">
                                <p:commandButton value="Cancelar" style="float: right" action="#{instituicaoView.cancelarAlteracoes()}"/>
                                <p:commandButton value="Salvar" style="float: right" action="#{instituicaoView.salvar()}"/>
                            </p:panelGrid>
                        </p:panelGrid>
                    </p:fieldset>
                </h:form>
                <h:form id="formDialogCurso">
                    <p:dialog id="dialogCursos" header="Curso" widgetVar="dialogCursos" minHeight="600" width="800">
                        <p:panelGrid columns="2" style="width: 100%" columnClasses="colunaGrupo1">
                            <p:outputLabel value="Nome: " style="width: 100px"/>
                            <p:inputText value="#{instituicaoView.curso.nome}" />
                            <p:outputLabel value="Identificador no AVA: " style="width: 100px"/>
                            <p:inputText value="#{instituicaoView.curso.identificadorCursoAva}"/>
                            <p:outputLabel value="Descrição: "/>
                            <p:inputTextarea value="#{instituicaoView.curso.descricao}" style="width: 100%"/>
                            <p:spacer/>
                            <p:commandButton value="Salvar curso" 
                                             style="float: right;"
                                             update="@form :formDialogCurso:dialogCursos :instituicaoForm" 
                                             actionListener="#{instituicaoView.salvarCurso()}" />
                        </p:panelGrid>
                    </p:dialog>
                </h:form>
            </ui:define>
        </ui:composition> 
    </h:body>
</html>
    