<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <f:metadata>
        <f:viewParam name="instituicaoId" value="#{instituicaoView.instituicao.id}" />
        <f:viewAction action="#{instituicaoView.load()}" />
        <f:viewAction if="#{not empty param['instituicaoId']}" action="#{publicacaoView.loadInstituicao(instituicaoView.instituicao.id)}" />
    </f:metadata>
    <h:body>
        <ui:composition template="/resources/template/layout.xhtml">
            <ui:define name="conteudo">
                <p:fieldset legend="Instituição #{instituicaoView.instituicao.nome}" >
                    <h:form styleClass="tema" >
                        <h:panelGrid columns="2" style="width: 100%;"
                                     columnClasses="colunaTopoGrupo1, colunaTopoGrupo2">
                            <p:column >
                                <p:commandButton value="Editar instituição" icon="ui-icon-pencil" action="#{instituicaoView.editarInstituicao()}" 
                                                 rendered="#{sessionController.loggedIn
                                                             and instituicaoView.instituicao.administradores.contains(sessionController.usuarioLogado)}"/>
                            </p:column>
                            <p:column >
                                <p:commandButton value="Deixar instituição" icon="ui-icon-minus" action="#{instituicaoView.deixarInstituicao()}" 
                                                 rendered="#{sessionController.loggedIn
                                                             and instituicaoView.instituicao.administradores.contains(sessionController.usuarioLogado)}"/>
                                <p:selectBooleanButton id="instituicaoSeguida" rendered="#{sessionController.loggedIn and !instituicaoView.parteInstituicao}" value="#{instituicaoView.instituicaoSeguida}" onLabel="Deixar de seguir" offLabel="Seguir" onIcon="ui-icon-close" offIcon="ui-icon-check" >
                                    <p:ajax update="@form" listener="#{instituicaoView.seguirDeixarDeSeguir()}" />
                                </p:selectBooleanButton>
                            </p:column>
                        </h:panelGrid>
                        <br/>
                        <p:spacer height="10"/>
                        <p:panelGrid columns="2" style="width: 100%; padding-top: 20px;" columnClasses="colunaGrupo1">
                            <p:outputLabel value="Descrição: " />
                            <p:outputLabel escape="false" value="#{instituicaoView.instituicao.descricao}"/>
                            <p:outputLabel value="Cursos: "/>
                            <p:dataTable value="#{instituicaoView.instituicao.cursosSet}" emptyMessage="Nenhum curso oferecido." var="curso">
                                <p:column>
                                    <p:outputLabel escape="false" value=" - #{curso.urlCurso}"/>
                                </p:column>
                            </p:dataTable>
                        </p:panelGrid>
                    </h:form>
                    <p:tabView >
                        <p:tab title="Publicações">
                            <p:panel rendered="#{instituicaoView.instituicao.administradores.contains(sessionController.usuarioLogado)}">
                                <ui:include src="../resources/template/publicacao/publicar.xhtml"/>  
                            </p:panel>
                            <ui:repeat id="repeatPublicacoes" value="#{publicacaoView.publicacoes}"
                                       varStatus="publicacaoIterator" var="publicacao">
                                <ui:include src="../resources/template/publicacao/publicacoes.xhtml"  rendered="#{!publicacao.modoEdicao}" >
                                    <ui:param name="publicacao" value="#{publicacao}"/>
                                    <ui:param name="moderador" value="#{instituicaoView.instituicao.ehAdministrador(sessionController.usuarioLogado)}"/>
                                </ui:include>                        
                            </ui:repeat>
                        </p:tab> 
                        <p:tab title="Alunos">
                            <p:dataTable value="#{instituicaoView.instituicao.alunos}"   
                                         rows="50"  
                                         paginator="true"
                                         var="membro">
                                <p:column style="text-align: left; width: 24px;"> 
                                    <h:button image="#{membro.avatarUrl}" styleClass="avatarComentario" outcome="/usuario/visualizar.xhtml?faces-redirect=true" value="3">
                                        <f:param name="usuarioId" value="#{membro.id}"/>
                                    </h:button>    
                                </p:column>
                                <p:column style="text-align: left;" headerText="Alunos">
                                    <p:outputLabel value="#{membro.nomeCompleto}"/>
                                </p:column>
                            </p:dataTable>
                        </p:tab>
                        <p:tab title="Professores">
                            <p:dataTable value="#{instituicaoView.instituicao.professores}"   
                                         rows="50"
                                         paginator="true"
                                         var="membro">
                                <p:column style="text-align: left; width: 24px;"> 
                                    <h:button image="#{membro.avatarUrl}" styleClass="avatarComentario" outcome="/usuario/visualizar.xhtml?faces-redirect=true" value="3">
                                        <f:param name="usuarioId" value="#{membro.id}"/>
                                    </h:button>    
                                </p:column>
                                <p:column style="text-align: left;" headerText="Professores">
                                    <p:outputLabel value="#{membro.nomeCompleto}"/>
                                </p:column>
                            </p:dataTable>
                        </p:tab>
                        <p:tab title="Administradores">
                            <p:dataTable value="#{instituicaoView.instituicao.administradores2}"   
                                         rows="50"
                                         paginator="true"
                                         var="administrador">
                                <p:column style="text-align: left; width: 24px;"> 
                                    <h:button image="#{administrador.avatarUrl}" styleClass="avatarComentario" outcome="/usuario/visualizar.xhtml?faces-redirect=true" value="3">
                                        <f:param name="usuarioId" value="#{administrador.id}"/>
                                    </h:button>    
                                </p:column>
                                <p:column style="text-align: left;" headerText="Administradores">
                                    <p:outputLabel value="#{administrador.nomeCompleto}"/>
                                </p:column>
                            </p:dataTable>
                        </p:tab>
                    </p:tabView>
                </p:fieldset>
            </ui:define>
        </ui:composition> 
    </h:body>
</html>
