<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <f:metadata>
        <f:viewParam name="usuarioId" value="#{visualizarUsuarioView.usuario.id}" />
        <f:viewAction action="#{visualizarUsuarioView.load()}" />
        <f:viewAction action="#{publicacaoView.loadPublicacoesPorUsuario(visualizarUsuarioView.usuario.id)}" />
    </f:metadata>
    <h:body>
        <ui:composition template="/resources/template/layout.xhtml">
            <ui:define name="conteudo">
                <h:form styleClass="formularioCadastro">
                    <p:panelGrid id="formularioCadastroGrid" style="width: 100%;"
                                 columns="3">
                        <p:column colspan="1">
                            <h:graphicImage id="avatar" url="#{visualizarUsuarioView.usuario.avatarUrl}"
                                            height="200" width="200"/>    
                        </p:column>
                        <p:column colspan="1">
                            <p:outputLabel id="nome" value="#{visualizarUsuarioView.usuario.nomeCompleto}" style="font-size: 44px;"/>    
                        </p:column>
                        <p:column colspan="1" width="100">
                            <p:commandButton value="Adicionar aos amigos"
                                             style="width: 100%"
                                             action="#{visualizarUsuarioView.adicionarAmigo()}"
                                             rendered="#{sessionController.loggedIn
                                                         and not sessionController.ehProprioUsuario(visualizarUsuarioView.usuario)
                                                         and !sessionController.usuarioLogado.ehAmigo(visualizarUsuarioView.usuario)
                                                         and not visualizarUsuarioView.pedidoAmizadePendente()}"/>           
                            <p:commandButton value="Desfazer amizade"   
                                             style="width: 100%"
                                             action="#{visualizarUsuarioView.desfazerAmizade(sessionController.usuarioLogado, visualizarUsuarioView.usuario)}"
                                             rendered="#{sessionController.loggedIn
                                                         and not sessionController.ehProprioUsuario(visualizarUsuarioView.usuario)
                                                         and sessionController.usuarioLogado.ehAmigo(visualizarUsuarioView.usuario)}"/>      
                            <p:commandButton value="Solicitação enviada" 
                                             disabled="true"
                                             style="width: 100%"
                                             rendered="#{sessionController.loggedIn
                                                         and not sessionController.ehProprioUsuario(visualizarUsuarioView.usuario)
                                                         and visualizarUsuarioView.pedidoAmizadePendente()}"/>
                            <br/>
                            <p:commandButton style="width: 100%" value="Deixar de seguir" 
                                             action="#{visualizarUsuarioView.deixarDeSeguirUsuario()}"
                                             rendered="#{sessionController.loggedIn
                                                         and !visualizarUsuarioView.usuario.equals(sessionController.usuarioLogado)
                                                         and not sessionController.ehProprioUsuario(visualizarUsuarioView.usuario)
                                                         and sessionController.usuarioLogado.ehSeguido(visualizarUsuarioView.usuario)}"/>
                            <p:commandButton style="width: 100%" value="Seguir"
                                             action="#{visualizarUsuarioView.seguirUsuario()}"
                                             rendered="#{sessionController.loggedIn
                                                         and !visualizarUsuarioView.usuario.equals(sessionController.usuarioLogado)
                                                         and not sessionController.ehProprioUsuario(visualizarUsuarioView.usuario)
                                                         and !sessionController.usuarioLogado.ehSeguido(visualizarUsuarioView.usuario)}"/>
                            <br/>
                            <p:commandButton value="Enviar mensagem"
                                             style="width: 100%" 
                                             ajax="false" 
                                             rendered="#{sessionController.loggedIn
                                                         and not sessionController.ehProprioUsuario(visualizarUsuarioView.usuario)}"
                                             action="#{visualizarUsuarioView.novaMensagem()}"/>   
                        </p:column>
                    </p:panelGrid>    
                </h:form>                
                <p:tabView>
                    <p:tab title="Publicações">
                        <ui:repeat id="repeatPublicacoes" value="#{publicacaoView.publicacoes}"
                                   varStatus="publicacaoIterator" var="publicacao" rendered="#{sessionController.loggedIn}">
                            <ui:include src="../resources/template/publicacao/publicacoes.xhtml"  rendered="#{!publicacao.modoEdicao}" >
                                <ui:param name="publicacao" value="#{publicacao}"/>
                            </ui:include> 
                        </ui:repeat>
                    </p:tab>
                    <p:tab title="Amigos">                        
                        <p:dataTable value="#{visualizarUsuarioView.usuario.amigos}"   
                                     emptyMessage="Este usuário ainda não possui amigos"
                                     rows="50"
                                     paginator="true"
                                     var="amigo">
                            <p:column style="text-align: left; width: 24px;"> 
                                <h:button image="#{amigo.amigo.avatarUrl}" styleClass="avatarComentario" outcome="/usuario/visualizar.xhtml?faces-redirect=true" value="3">
                                    <f:param name="usuarioId" value="#{amigo.amigo.id}"/>
                                </h:button>    
                            </p:column>
                            <p:column style="text-align: left;" headerText="Amigos">
                                <p:outputLabel value="#{amigo.amigo.nomeCompleto}"/>
                            </p:column>
                        </p:dataTable>
                    </p:tab>
                    <p:tab title="Grupos">          
                        <p:dataTable value="#{visualizarUsuarioView.gruposParticipados}"   
                                     emptyMessage="Este usuário ainda não participa de nenhum grupo"
                                     rows="50"
                                     paginator="true"
                                     var="grupo">
                            <p:column style="text-align: left;" width="36"> 
                                <p:commandButton icon="ui-icon-extlink" action="#{visualizarUsuarioView.visualizarGrupo(grupo)}"/>      
                            </p:column>
                            <p:column style="text-align: left;" >
                                <p:outputLabel value="#{grupo.nome}"/>
                            </p:column>
                            <p:column style="text-align: left;" width="140">
                                <p:outputLabel value="#{grupo.administradores.contains(visualizarUsuarioView.usuario) ? 'Administrador' : 'Membro'}"/>
                            </p:column>
                        </p:dataTable>
                    </p:tab>
                    <p:tab title="Instituições">
                        <p:dataTable value="#{visualizarUsuarioView.instituicoesParticipadas}"   
                                     emptyMessage="Este usuário ainda não participa de nenhuma instituição"
                                     rows="50"
                                     paginator="true"
                                     var="instituicao">
                            <p:column style="text-align: left;" width="36"> 
                                <p:commandButton icon="ui-icon-extlink" action="#{visualizarUsuarioView.visualizarInstituicao(intituicao)}"/>      
                            </p:column>
                            <p:column style="text-align: left;" >
                                <p:outputLabel value="#{instituicao.nome}"/>
                            </p:column>
                            <p:column style="text-align: left;" width="140">
                                <p:outputLabel value="#{instituicao.administradores.contains(visualizarUsuarioView.usuario) ? 'Adminitrador' : instituicao.professores.contains(viualizarUsuaroView.usuario) ? 'Professor' : 'Aluno'}"/>
                            </p:column>
                        </p:dataTable>
                    </p:tab>
                </p:tabView>
            </ui:define>
        </ui:composition> 
    </h:body>
</html>
