<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:body>
        <ui:composition template="/resources/template/layout.xhtml">
            <f:metadata>
                <f:viewParam name="mensagemId" value="#{mensagemView.mensagemPai.id}" />
                <f:viewParam name="usuarioId" value="#{mensagemView.usuarioRecebimento.id}"/>
                <f:viewAction action="#{mensagemView.carregarUsuarioRecebimento()}" if="#{not empty param['usuarioId']}" />
                <f:viewAction action="#{mensagemView.carregarMensagens()}" if="#{not empty param['mensagemId']}" />
            </f:metadata>

            <ui:define name="conteudo">
                <h:form styleClass="mensagens">
                    <p:panelGrid style="width: 100%;" columns="2" rendered="#{mensagemView.mensagemPai.new}">
                        <p:outputLabel value="Para: "/>
                        <p:autoComplete id="usuarios" value="#{mensagemView.usuarioRecebimento}" 
                                        var="usuario" itemValue="#{usuario}" itemLabel="#{usuario.nome}"
                                        multiple="false"
                                        required="true"
                                        disabled="#{!mensagemView.usuarioRecebimento.new}"
                                        completeMethod="#{mensagemView.getUsuarios}"
                                        converter="#{genericEntityConverter}" forceSelection="true">
                            <p:column>
                                <h:graphicImage styleClass="avatarTopo" url="#{usuario.avatarUrl}" height="22" width="22" />
                            </p:column>
                            <p:column>
                                <h:outputText value="#{usuario.nomeCompleto}" />
                            </p:column>
                            <p:ajax event="itemSelect" update="@form" />        
                        </p:autoComplete>
                        <p:outputLabel value="Título: "/>
                        <p:inputText value="#{mensagemView.mensagem.titulo}"/>
                        <p:outputLabel value=""/>
                        <p:editor value="#{mensagemView.mensagem.mensagem}"/>
                        <p:outputLabel value=""/>                        
                        <p:commandButton value="Enviar mensagem" action="#{mensagemView.enviarMensagem()}"/>
                    </p:panelGrid>
                    <p:panelGrid style="width: 100%;" rendered="#{!mensagemView.mensagemPai.new}">
                        <f:facet name="header" >
                            <p:row>
                                <p:column colspan="1" style="width: 36px;" >
                                </p:column>
                                <p:column colspan="1" style="text-align: left; font-size: 20px;" >
                                    <p:outputLabel value="Mensagem: #{mensagemView.mensagemPai.titulo}"/>
                                </p:column>
                                <p:column colspan="1" style="width: 36px;" >
                                </p:column>
                            </p:row>
                        </f:facet>
                        <ui:repeat id="repeatMensagens" value="#{mensagemView.mensagens}"
                                   varStatus="mensagemIterator" var="mensagem">
                            <p:row>
                                <p:column colspan="1" >
                                    <h:button image="#{mensagem.usuarioEnvio.avatarUrl}" styleClass="avatarPublicacao" outcome="/usuario/visualizar.xhtml?faces-redirect=true" value="3">
                                        <f:param name="usuarioId" value="#{mensagem.usuarioEnvio.id}"/>
                                    </h:button>      
                                </p:column>
                                <p:column colspan="1" >
                                    <p:outputLabel value="#{mensagem.mensagem}"/>
                                </p:column>
                                <p:column colspan="1" style="width: 36px; text-align: right;">
                                    <h:outputText value="#{mensagem.dataEnvio}">                                              
                                        <f:converter converterId="timestampConverter" /> 
                                    </h:outputText>
                                </p:column>
                            </p:row>               
                        </ui:repeat>
                        <p:row>
                            <p:column colspan="3">
                                <p:editor value="#{mensagemView.mensagem.mensagem}"/>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column colspan="3">
                                <p:commandButton value="Enviar mensagem" action="#{mensagemView.enviarMensagem()}" >
                                    <f:attribute value="#{mensagemView.mensagem.id}" name="mensagemId" />
                                </p:commandButton>
                            </p:column>
                        </p:row>
                    </p:panelGrid>      
                </h:form>
            </ui:define>
        </ui:composition> 
    </h:body>
</html>
