<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:body>
        <ui:composition template="/resources/template/layout.xhtml">
            <ui:define name="conteudo">
                <h:form styleClass="mensagens">
                    <p:commandButton value="Nova mensagem" ajax="false" action="#{mensagemView.novaMensagem()}"/>
                    <br/>
                    <p:spacer height="10"/>
                    <p:dataTable value="#{mensagemView.mensagensRecebidas}"   
                                 emptyMessage="Sem mensagens"
                                 var="mensagem">
                        <p:column headerText="Ler" width="36">
                            <p:commandButton icon="#{mensagem.mensagensNaoLidas == 0 ? 'ui-icon-mail-open' : 'ui-icon-mail-closed'}"
                                             action="#{mensagemView.visualizarMensagens(mensagem.mensagemPai)}">
                            </p:commandButton>
                        </p:column>
                        <p:column headerText="Não lidas" width="40" style="text-align: center;">
                            <h:outputText value="#{mensagem.mensagensNaoLidas}"/>
                        </p:column>
                        <p:column headerText="Última mensagem" width="80" style="text-align: right;">
                            <h:outputText value="#{mensagem.ultimaMensagemEnviada}">                                              
                                <f:converter converterId="timestampConverter" /> 
                            </h:outputText>
                        </p:column>
                        <p:column headerText="Tíulo" style="text-align: left;">
                            <h:outputText value="#{mensagem.mensagemPai.titulo}"/>
                        </p:column>
                        <p:column width="32">
                            <h:button image="#{mensagem.mensagemPai.usuarioEnvio.id == sessionController.usuarioLogado.id
                                               ? mensagem.mensagemPai.usuarioRecebimento.avatarUrl
                                               : mensagem.mensagemPai.usuarioEnvio.avatarUrl}" styleClass="avatarPublicacao" outcome="/usuario/visualizar.xhtml?faces-redirect=true" value="3">
                                <f:param name="usuarioId"
                                         value="#{mensagem.mensagemPai.usuarioEnvio.id == sessionController.usuarioLogado.id
                                                  ? mensagem.mensagemPai.usuarioRecebimento.id
                                                  : mensagem.mensagemPai.usuarioEnvio.id}"/>
                            </h:button>      
                        </p:column>
                        <p:column headerText="Usuário" width="180" style="text-align: left;">
                            <h:outputText value="#{mensagem.mensagemPai.usuarioEnvio.id == sessionController.usuarioLogado.id 
                                                   ? mensagem.mensagemPai.usuarioRecebimento.nomeCompleto
                                                   : mensagem.mensagemPai.usuarioEnvio.nomeCompleto}"/>
                        </p:column>
                    </p:dataTable>
                </h:form>
            </ui:define>
        </ui:composition> 
    </h:body>
</html>
