<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core">
    <f:metadata>
        <f:viewParam name="publicacaoId" value="#{publicacaoView.publicacao.id}" />
        <f:viewAction action="#{publicacaoView.loadPublicacao()}" />
    </f:metadata>
    <h:body>
        <ui:composition template="/resources/template/layout.xhtml">
            <ui:define name="conteudo">
                <ui:repeat id="repeatPublicacoes" value="#{publicacaoView.publicacoes}"
                           varStatus="publicacaoIterator" var="publicacao" rendered="#{sessionController.loggedIn}">
                    <ui:include src="../resources/template/publicacao/publicacoes.xhtml"  rendered="#{!publicacao.modoEdicao}" >
                        <ui:param name="publicacao" value="#{publicacao}"/>
                    </ui:include>                        
                </ui:repeat>
            </ui:define>
        </ui:composition> 
    </h:body>
</html>
