<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:body  style="margin: 0px !important">
        <h:form styleClass="formLogoTopo">
            <h:link outcome="/index.xhtml?faces-redirect=true" styleClass="logoTopo" />
        </h:form>
        <h:form styleClass="formPesquisaTopo">
            <p:outputLabel styleClass="labelPesquisaTopo" value="Pesquisar: "/>
            <p:inputText styleClass="campoMedioFormulario" value="#{sessionController.stringConsulta}"/>            
            <p:commandLink action="#{sessionController.buscaPrincipal()}">
                <p:graphicImage styleClass="botaoPesquisaTopoImagem" name="images/pesquisatopobotao3.png"/>
            </p:commandLink>
        </h:form>       
        <h:form id="botoesTopoDireita" styleClass="formBotoesDireitaTopo">
            <p:panelGrid style="float:right;" rendered="#{sessionController.loggedIn}" >
                <p:commandLink id="usuarioLogado">
                    <button style="width: 220px; height:30px; float:right; text-align: right; padding-top: 2px; padding-left: 4px; padding-right: 4px;" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                        <h:graphicImage styleClass="avatarTopo" url="#{sessionController.usuarioLogado.avatarUrl}" height="22" width="22" />
                        <p:outputLabel style="padding-left: 4px;padding-top: 2px;float:left;" value="#{sessionController.usuarioLogado.nomeCompleto}"/>
                    </button>
                </p:commandLink>

                <p:menu overlay="true"
                        trigger="usuarioLogado"
                        style="width: 200px;"
                        my="left top"
                        at="left bottom">
                    <p:menuitem value="Editar perfil" outcome="/secured/usuario/editar.xhtml?faces-redirect=true"/>
                    <p:menuitem value="Sair" action="#{sessionController.doLogout()}"/>
                </p:menu>
            </p:panelGrid>
            <p:panelGrid rendered="#{!sessionController.loggedIn}"  columns="2">
                <p:commandButton value="Entrar" 
                                 update=":formDialogLogin"
                                 oncomplete="PF('dialogLogin').show();" />
                <h:link value="Cadastrar-se" outcome="/cadastro.xhtml?faces-redirect=true" />
            </p:panelGrid>
        </h:form>
    </h:body>
</html>