<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:body>
        <ui:composition template="/resources/template/layout.xhtml">
            <ui:define name="conteudo">
                <h:form styleClass="notificacoes">
                    <p:dataTable value="#{notificacaoView.notificacoes}"   
                                 emptyMessage="Sem notificações"
                                 var="notificacao">
                        <p:column headerText="Notificação" style="text-align: left;">
                            <p:outputLabel escape="false" value="#{notificacao.descricao}"/>
                        </p:column>
                        <p:column headerText="Status" width="260" >
                            <p:commandButton disabled="true" style="width: 100%" value="Aceito"
                                             rendered="#{notificacao.finalizado and notificacao.notificacaoAceita and notificacao.notificacaoTipo.necessitaAceitacao}"/>
                            <p:commandButton disabled="true" style="width: 100%" value="Recusado" 
                                             rendered="#{notificacao.finalizado and not notificacao.notificacaoAceita and notificacao.notificacaoTipo.necessitaAceitacao}"/>
                            <p:commandButton disabled="true" style="width: 100%" value="Finalizado" 
                                             rendered="#{notificacao.finalizado and not notificacao.notificacaoTipo.necessitaAceitacao}"/>
                            <p:commandButton rendered="#{!notificacao.finalizado and not notificacao.notificacaoTipo.necessitaAceitacao}"
                                             action="#{notificacaoView.confirmarNotificacao(notificacao)}"
                                             style="width: 100%" value="Confirmar" icon="ui-icon-check"/>
                            <p:commandButton rendered="#{!notificacao.finalizado and notificacao.notificacaoTipo.necessitaAceitacao}"
                                             action="#{notificacaoView.aceitarNotificacao(notificacao)}" value="Aceitar"
                                             style="width: 49.3%" icon="ui-icon-check"/>
                            <p:commandButton rendered="#{!notificacao.finalizado and notificacao.notificacaoTipo.necessitaAceitacao}"
                                             action="#{notificacaoView.recusarNotificacao(notificacao)}" value="Recursar"
                                             style="width: 49.4%" icon="ui-icon-close"/>
                        </p:column>
                    </p:dataTable>
                </h:form>
            </ui:define>
        </ui:composition> 
    </h:body>
</html>
