<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:body>
        <ui:composition template="/resources/template/layout.xhtml">
            <ui:define name="conteudo">
                <h:form styleClass="formularioCadastro">
                    <p:fieldset legend="Edição de perfil" >
                        <p:panelGrid id="formularioCadastroGrid"
                                     columns="1">
                            <p:messages/>
                            <p:outputLabel value="Avatar atual:"/>
                            <h:graphicImage id="avatar" url="#{editarUsuarioView.usuario.avatarUrl}"
                                            height="200" width="200"/>

                            <p:outputLabel value="Novo avatar:"/>
                            <p:fileUpload fileUploadListener="#{editarUsuarioView.uploadAvatar}"
                                          allowTypes="/(\.|\/)(gif|jpe?g|png)$/" 
                                          label="Selecione"
                                          update="avatar"
                                          auto="true"/> 

                            <p:outputLabel value="Nome:" for="nome"/>
                            <p:inputText styleClass="campoMedioFormulario" id="nome" value="#{editarUsuarioView.usuario.nome}" required="true" />

                            <p:outputLabel value="Sobrenome:" for="sobrenome"/>
                            <p:inputText styleClass="campoMedioFormulario" id="sobrenome" value="#{editarUsuarioView.usuario.sobrenome}" required="true" />

                            <p:outputLabel value="E-mail:" for="email"/>
                            <p:inputText styleClass="campoMedioFormulario" id="email" value="#{editarUsuarioView.usuario.email}" required="true" />                        

                            <p:panelGrid style="border: none !important;" >
                                <p:commandButton id="botaoSalvar" value="Finalizar cadastro" update="@form" action="#{editarUsuarioView.salvar()}"/> 
                                <p:commandButton id="botaoCancelar" value="Cancelar alterações" update="@form"
                                                 action="#{editarUsuarioView.cancelarAlteracoes()}"
                                                 immediate="true"/> 
                            </p:panelGrid>
                        </p:panelGrid>    
                    </p:fieldset>
                </h:form>
            </ui:define>
        </ui:composition> 
    </h:body>
</html>
