<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:body> 
        <p:panelGrid columns="2" style="width: 100%">
            <p:panelGrid style="width: 20%">
                <p:spacer style="width: 52px;"/>                    
            </p:panelGrid>
            <p:panelGrid style="width: 100%" >
                <p:row>
                    <p:column colspan="1" style="text-align: left; width: 1px;">
                        <h:button image="#{comentario.usuarioCadastro.avatarUrl}" styleClass="avatarComentario" outcome="/usuario/visualizar.xhtml?faces-redirect=true" value="3">
                            <f:param name="usuarioId" value="#{comentario.usuarioCadastro.id}"/>
                        </h:button>        
                    </p:column>
                    <p:column colspan="2" style="text-align: left;">
                        <p:outputLabel value="#{comentario.usuarioCadastro.nomeCompleto}"/>
                    </p:column>                    
                    <p:column colspan="2" style="text-align: left; width: 74px;" >
                    </p:column>
                </p:row>
                <p:row>
                    <p:column colspan="4" rowspan="2" >
                        <p:editor value="#{comentario.conteudo}" height="100" />
                    </p:column>
                    <p:column colspan="1" rowspan="2" >
                        <p:commandButton value="Salvar"
                                         style="width: 100px;"
                                         process="@form"
                                         update="@form" 
                                         actionListener="#{publicacaoView.atualizarComentario(publicacao, comentario)}"/>
                        <br/>
                        <br/>
                        <p:commandButton value="Cancelar"
                                         style="width: 100px;"
                                         process="@form"
                                         update="@form" 
                                         actionListener="#{publicacaoView.cancelarAlteracaoComentario(comentario)}"/>
                    </p:column>
                </p:row>
            </p:panelGrid>      
        </p:panelGrid>
    </h:body>
</html>
