<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:body>
        <h:form id="formPublicacao" rendered="#{sessionController.loggedIn}">    
            <p:panelGrid columns="1" style="width: 100%;" rendered="#{publicacaoView.publicacao.tipoPublicacao == null and not publicacaoView.publicacao.modoEdicao}" >
                <p:column style="border:none !important;">
                    <p:outputLabel value="Nova publicação: " style="float: left;"/>
                </p:column>
                <p:column >
                    <p:selectOneButton value="#{publicacaoView.publicacao.tipoPublicacao}"  style="float: left;" >
                        <f:selectItems value="#{publicacaoView.tiposPublicacao}"
                                       var="tipo" 
                                       itemLabel="#{tipo.descricao}"
                                       itemValue="#{tipo}"/>
                        <p:ajax event="change" update="@form" />
                    </p:selectOneButton> 
                </p:column>
            </p:panelGrid>
            <p:panelGrid style="width: 100%;" >
                <p:panelGrid columns="2" style="width: 100%; border:none !important;" rendered="#{publicacaoView.publicacao.tipoPublicacao != null  or publicacaoView.publicacao.modoEdicao}">
                    <p:outputLabel value="#{publicacaoView.publicacao.tipoPublicacao.descricao.equals('Conhecimento') ? 'Título: ' : 'Pergunta:' }" for="titulo"/>
                    <p:inputText  id="titulo" value="#{publicacaoView.publicacao.titulo}" required="true" />
                    <p:outputLabel value="Temas: " for="temas"/>
                    <p:autoComplete id="temas" multiple="true" value="#{publicacaoView.publicacao.temas}" completeMethod="#{publicacaoView.todosTemas}" 
                                    var="tema" itemLabel="#{tema.nome}" itemValue="#{tema}" 
                                    required="true"
                                    converter="#{temaConverter}" forceSelection="true">
                        <p:column>
                            <h:outputText value="#{tema.nome}" />
                        </p:column>
                    </p:autoComplete>
                    <p:outputLabel value="Conteúdo: " for="conteudo"/>
                    <p:editor id="conteudo" value="#{publicacaoView.publicacao.conteudo}" required="true"/>
                    <p:spacer/>
                    <p:panelGrid style="border: none !important; width: 100%;">
                        <p:commandButton value="Cancelar"
                                         immediate="true"
                                         style="float: right;"
                                         process="@form" update="@form"
                                         action="#{publicacaoView.cancelarPublicacao()}"/> 
                        <p:commandButton value="#{publicacaoView.publicacao.new ? 'Publicar' : 'Salvar'}"
                                         style="float: right;"
                                         process="@form" update="@form" action="#{publicacaoView.salvar()}"/>
                    </p:panelGrid>
                </p:panelGrid>
            </p:panelGrid>
        </h:form>
    </h:body>
</html>
