<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:body id="publicacoes">
        <h:form >
            <p:panel rendered="#{publicacao.modoEdicao}">
                <ui:include src="publicar.xhtml" >                    
                    <ui:param name="publicacao" value="#{publicacao}"/>
                </ui:include>
            </p:panel>
            <p:panelGrid style="width: 100%;" rendered="#{!publicacao.modoEdicao}">
                <f:facet name="header">
                    <p:row>
                        <p:column colspan="1" style="text-align: left; width: 1px;">
                            <h:button image="#{publicacao.usuarioCadastro.avatarUrl}" styleClass="avatarPublicacao" outcome="/usuario/visualizar.xhtml?faces-redirect=true" value="3">
                                <f:param name="usuarioId" value="#{publicacao.usuarioCadastro.id}"/>
                            </h:button>      
                        </p:column>
                        <p:column colspan="2" style="text-align: left;">
                            <p:outputLabel value="#{publicacao.usuarioCadastro.nomeCompleto}"/>
                            <p:outputLabel escape="false" rendered="#{index and publicacao.grupo != null}" value=" > #{publicacao.grupo.urlGrupo}"/>
                            <p:outputLabel escape="false" rendered="#{index and publicacao.instituicao != null}" value=" > #{publicacao.instituicao.urlInstituicao}"/>
                            <p:outputLabel escape="false" rendered="#{index and publicacao.curso != null}" value=" > #{publicacao.curso.urlCurso} em #{publicacao.curso.instituicao.urlInstituicao}"/>
                        </p:column>
                        <p:column colspan="1" style="text-align: right; font-size: 11px; width: 1px;">
                            <p:outputLabel value="#{publicacao.dataPublicacao}">                                                  
                                <f:converter converterId="timestampConverter" /> 
                            </p:outputLabel>
                        </p:column>                        
                        <p:column colspan="1" style="text-align: left; width: 114px;" >
                            <p:commandButton icon="ui-icon-extlink" action="#{publicacaoView.visualizarPublicacao(publicacao)}">                          
                            </p:commandButton>
                            <p:commandButton update="@form" process="@form" action="#{publicacaoView.editarPublicacao(publicacao)}" icon="ui-icon-pencil"
                                             rendered="#{publicacao.usuarioCadastro.id == sessionController.usuarioLogado.id}"/>
                            <p:commandButton update="@form" process="@form" action="#{publicacaoView.excluir(publicacao)}" icon="ui-icon-trash"
                                             rendered="#{publicacao.usuarioCadastro.id == sessionController.usuarioLogado.id
                                                         or moderador}"/>
                        </p:column>
                    </p:row>
                </f:facet>

                <p:row>
                    <p:column colspan="5" styleClass="tituloPublicacao">
                        <p:outputLabel value="#{publicacao.respondido ? 'Respondido' : 'Sem resposta'}" 
                                       style="#{publicacao.respondido ? 'color: green;' : 'color: red;'}"
                                       rendered="#{publicacao.duvida}"/>  
                        <p:outputLabel value="Você sabia?" 
                                       style="color: #66CCFF;"
                                       rendered="#{publicacao.conhecimento}"/>  
                        <p:outputLabel value=" - "/>  
                        <p:outputLabel value="#{publicacao.titulo}"/>      
                    </p:column>
                </p:row>
                <p:row>
                    <p:column colspan="5">
                        <p:outputLabel escape="false" value="#{publicacao.conteudo}"/>   
                    </p:column>
                </p:row>
                <p:row>
                    <p:column colspan="5" styleClass="temasVisualizacaoPublicacao">
                        <ui:repeat id="repeatTemas" value="#{publicacao.temas}"
                                   varStatus="temaIterator" var="tema">
                            <p:link outcome="#{publicacaoView.visualizarTema()}" value="#{tema.nome}">
                                <f:param name="temaId" value="#{tema.id}"/>                                
                            </p:link> <p:outputLabel value=" "/>  
                        </ui:repeat>
                    </p:column>
                </p:row>
                <f:facet name="footer">
                    <p:row>
                        <p:column colspan="5" style="text-align: left; width: 1px;">
                            <p:outputLabel value="#{publicacao.quantidadeAprovacoes}" style="padding-right: 4px;"/>
                            <p:commandButton value="Aprovações"
                                             disabled="true"
                                             rendered="#{!sessionController.loggedIn}"/>                            
                            <p:commandButton id="aprovarPublicacao" 
                                             update="@form"
                                             icon="ui-icon-check"
                                             rendered="#{!publicacao.isAprovada(sessionController.usuarioLogado)
                                                         and sessionController.loggedIn}"
                                             value="Aprovar" actionListener="#{publicacaoView.aprovarDesaprovarPublicacao(publicacao)}"  >
                            </p:commandButton>   
                            <p:commandButton id="desaprovarPublicacao" 
                                             update="@form"
                                             icon="ui-icon-close"
                                             rendered="#{publicacao.isAprovada(sessionController.usuarioLogado)
                                                         and sessionController.loggedIn}"
                                             value="Desaprovar" actionListener="#{publicacaoView.aprovarDesaprovarPublicacao(publicacao)}"  >
                            </p:commandButton>                               
                            <p:outputLabel value=" #{publicacao.quantidadeComentarios}" style="padding-left: 4px;padding-right: 4px;"/>
                            <p:commandButton value="Visualizar comentários" icon="ui-icon-note"
                                             actionListener="#{publicacaoView.visualizarComentarios(publicacao)}"
                                             rendered="#{!publicacao.visualizandoComentarios}"
                                             update="@form"/>
                            <p:commandButton value="Esconder comentários" icon="ui-icon-note"
                                             rendered="#{publicacao.visualizandoComentarios}"
                                             actionListener="#{publicacaoView.visualizarComentarios(publicacao)}"
                                             update="@form"/>
                        </p:column>'
                    </p:row>
                </f:facet>
            </p:panelGrid>

            <ui:repeat rendered="#{publicacao.visualizandoComentarios}" id="repeatComentarios" value="#{publicacao.comentarios}"
                       varStatus="comentarioIterator" var="comentario" >                
                <p:panel rendered="#{publicacaoView.comentarioModoEdicao(comentario)}">
                    <ui:include src="comentar.xhtml" >                    
                        <ui:param name="comentario" value="#{comentario}"/>
                        <ui:param name="publicacao" value="#{publicacao}"/>
                    </ui:include>
                </p:panel>
                <p:panelGrid rendered="#{!publicacaoView.comentarioModoEdicao(comentario)}"
                             id="panelComentario" columns="2" style="width: 100%;" columnClasses="comentario1, comentario2">
                    <p:column colspan="1" style="text-align: left; width: 1px;">
                        <p:graphicImage url="http://localhost:8080/PortalDoEnsino/faces/download?caminhoArquivo=C:\PortalDoEnsino\portaldoensino\PortalDoEnsino\src\main\webapp\resources\images\like-icon.png" 
                                        width="32"
                                        rendered="#{publicacao.respostaCorreta.equals(comentario)}"/>    
                        <p:spacer style="width: 32px" 
                                  rendered="#{!publicacao.respostaCorreta.equals(comentario)}"/>
                    </p:column>
                    <p:panelGrid style="width: 100%" >
                        <p:row>
                            <p:column colspan="1" style="text-align: left; width: 1px;">
                                <h:button image="#{comentario.usuarioCadastro.avatarUrl}" styleClass="avatarComentario" outcome="/usuario/visualizar.xhtml?faces-redirect=true" value="3">
                                    <f:param name="usuarioId" value="#{comentario.usuarioCadastro.id}"/>
                                </h:button>        
                            </p:column>
                            <p:column colspan="2" style="text-align: left;">
                                <p:outputLabel value="#{comentario.usuarioCadastro.nomeCompleto}"/>
                            </p:column>
                            <p:column colspan="1" style="text-align: right; font-size: 11px; width: 1px;">
                                <p:outputLabel value="#{comentario.dataPublicacao}">                                                  
                                    <f:converter converterId="timestampConverter" /> 
                                </p:outputLabel>
                            </p:column>                        
                            <p:column colspan="1" style="text-align: left; width: 74px;" >
                                <p:commandButton update="@form" process="@form" action="#{publicacaoView.editarComentario(comentario)}" icon="ui-icon-pencil"
                                                 rendered="#{comentario.usuarioCadastro.id == sessionController.usuarioLogado.id}"/>
                                <p:commandButton update="@form" process="@form" actionListener="#{publicacaoView.excluirComentario(publicacao, comentario)}" icon="ui-icon-trash"
                                                 rendered="#{comentario.usuarioCadastro.id == sessionController.usuarioLogado.id
                                                             or moderador}"/>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column colspan="5" >
                                <p:outputLabel escape="false" id="comentario" value="#{comentario.conteudo}" />
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column colspan="5" >
                                <p:outputLabel value="#{comentario.quantidadeAprovacoes}" style="padding-right: 4px;"/>
                                <p:commandButton value="Aprovações"
                                                 disabled="true"
                                                 rendered="#{!sessionController.loggedIn}"/>
                                <p:commandButton id="aprovarComentario" 
                                                 update="@form"
                                                 icon="ui-icon-check"
                                                 rendered="#{!comentario.isAprovada(sessionController.usuarioLogado)
                                                             and sessionController.loggedIn}"
                                                 value="Aprovar" actionListener="#{publicacaoView.aprovarDesaprovarPublicacao(comentario)}"  >
                                </p:commandButton>   
                                <p:commandButton id="desaprovarComentario" 
                                                 update="@form"                                                 
                                                 icon="ui-icon-close" 
                                                 rendered="#{comentario.isAprovada(sessionController.usuarioLogado)
                                                             and sessionController.loggedIn}"
                                                 value="Desaprovar" actionListener="#{publicacaoView.aprovarDesaprovarPublicacao(comentario)}"  >
                                </p:commandButton>   
                                <p:commandButton id="marcarMelhorResposta" 
                                                 update="@form"
                                                 icon="ui-icon-check"
                                                 rendered="#{publicacao.duvida and not publicacao.respondido and publicacao.usuarioCadastro.equals(sessionController.usuarioLogado)}"
                                                 value="Melhor resposta" actionListener="#{publicacaoView.marcarDesmarcarComentarioComoMelhorResposta(comentario)}"  >
                                </p:commandButton>   
                                <p:commandButton id="desmarcarMelhorResposta" 
                                                 update="@form"
                                                 icon="ui-icon-close"
                                                 rendered="#{publicacao.duvida and publicacao.respondido and publicacao.respostaCorreta.equals(comentario) and publicacao.usuarioCadastro.equals(sessionController.usuarioLogado)}"
                                                 value="Melhor resposta" actionListener="#{publicacaoView.marcarDesmarcarComentarioComoMelhorResposta(comentario)}"  >
                                </p:commandButton>  
                            </p:column>
                        </p:row>
                    </p:panelGrid>
                </p:panelGrid>
            </ui:repeat>

            <p:panelGrid id="panelComentar" columns="2" style="width: 100%"
                         rendered="#{sessionController.loggedIn
                                     and not publicacaoView.comentario.modoEdicao}">
                <p:panelGrid style="width: 1%">
                    <p:spacer style="width: 1px;"/>                    
                </p:panelGrid>
                <p:panelGrid style="width: 100%"  >
                    <p:row>
                        <p:column colspan="1" style="text-align: left; width: 1px;">
                            <p:graphicImage url="#{sessionController.usuarioLogado.avatarUrl}" styleClass="avatarComentario" />    
                        </p:column>
                        <p:column colspan="2" style="text-align: left; width: 100%;">
                            <p:commandLink value="Comentar" update="@form" actionListener="#{publicacaoView.habilitarComentario(publicacaoView.comentario)}"/>
                        </p:column>
                        <p:column colspan="1">
                            <p:spacer style="width: 168px;" height="10" width="168"/>       
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </p:panelGrid>
            <p:panelGrid id="panelComentario" columns="2" style="width: 100%;" 
                         rendered="#{sessionController.loggedIn
                                     and publicacaoView.comentario.modoEdicao}">
                <p:panelGrid style="width: 20%">
                    <p:spacer style="width: 32px;"/>                    
                </p:panelGrid>
                <p:panelGrid style="width: 100%" rendered="#{!publicacao.modoEdicao}" >
                    <p:row>
                        <p:column colspan="1" style="text-align: left; width: 1px;">
                            <p:graphicImage url="#{sessionController.usuarioLogado.avatarUrl}" styleClass="avatarComentario" />    
                        </p:column>
                        <p:column colspan="2" style="text-align: left; width: 100%;">
                            <p:outputLabel value="#{sessionController.usuarioLogado.nomeCompleto}"/>
                        </p:column>
                        <p:column colspan="1"/>
                    </p:row>
                    <p:row>
                        <p:column colspan="3" >
                            <p:editor id="comentario" value="#{publicacaoView.comentario.conteudo}" height="100" />
                        </p:column>
                        <p:column colspan="1" >
                            <p:commandButton update="@form" 
                                             process="@form"
                                             value="Comentar"
                                             actionListener="#{publicacaoView.salvarComentario(publicacao)}"/>
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </p:panelGrid>
        </h:form>
    </h:body>
</html>
