<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <f:metadata>
        <f:viewParam name="temaId" value="#{temaView.tema.id}" />
        <f:viewAction action="#{temaView.load()}" />
        <f:viewAction if="#{not empty param['temaId']}" action="#{publicacaoView.loadTema(temaView.tema.id)}" />
    </f:metadata>
    <h:body>
        <ui:composition template="/resources/template/layout.xhtml">
            <ui:define name="conteudo">
                <h:form styleClass="tema">
                    <p:fieldset legend="Tema: #{temaView.tema.nome}" >
                        <p:outputLabel value="Favorito: "  rendered="#{sessionController.loggedIn}" />
                        <p:selectBooleanButton id="favorito" value="#{temaView.favorito}"  rendered="#{sessionController.loggedIn}" onLabel="Desfavoritar" offLabel="Favoritar" onIcon="ui-icon-close" offIcon="ui-icon-check" >
                            <p:ajax update="@form" listener="#{temaView.marcarDesmarcarFavorito()}" />
                        </p:selectBooleanButton>
                    </p:fieldset>
                </h:form>
                <ui:repeat id="repeatPublicacoes" value="#{publicacaoView.publicacoes}"
                           varStatus="publicacaoIterator" var="publicacao" >
                    <ui:include src="../resources/template/publicacao/publicacoes.xhtml"  rendered="#{!publicacao.modoEdicao}" >
                        <ui:param name="publicacao" value="#{publicacao}"/>
                    </ui:include>                        
                </ui:repeat>
            </ui:define>
        </ui:composition> 
    </h:body>
</html>
