<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <f:metadata>
        <f:viewParam name="grupoId" value="#{grupoView.grupo.id}" />
        <f:viewAction action="#{grupoView.loadEdicao()}" if="#{not empty param['grupoId']}"/>
    </f:metadata>
    <h:body>
        <ui:composition template="/resources/template/layout.xhtml">
            <ui:define name="conteudo">
                <h:form styleClass="tema" rendered="#{sessionController.loggedIn and grupoView.grupo.ehAdministrador(sessionController.usuarioLogado)}"> 
                    <p:fieldset legend="Grupo #{grupoView.grupo.nome}" >                        
                        <p:commandButton value="Voltar para o grupo" ajax="false" 
                                         icon="ui-icon-arrowreturn-1-w"
                                         rendered="#{!grupoView.grupo.new}" action="#{grupoView.voltarParaGrupo()}"/>
                        <br/>
                        <p:outputLabel value="Convidar usuário: "/>
                        <p:autoComplete id="usuarios" value="#{grupoView.usuarioConvidado}" 
                                        var="usuario" itemValue="#{usuario}" itemLabel="#{usuario.nome}"
                                        multiple="false"
                                        completeMethod="#{grupoView.getUsuarios}"
                                        converter="#{genericEntityConverter}" forceSelection="true">
                            <p:column>
                                <h:graphicImage styleClass="avatarTopo" url="#{usuario.avatarUrl}" height="22" width="22" />
                            </p:column>
                            <p:column>
                                <h:outputText value="#{usuario.nomeCompleto}" />
                            </p:column>
                            
                        </p:autoComplete>
                        <p:commandButton value="Convidar" action="#{grupoView.convidarUsuario()}"/>
                        <br/>
                        <p:spacer height="10"/>
                        <p:dataTable value="#{grupoView.grupo.membros}"   
                                     rows="50"
                                     emptyMessage="Nenhum membro encontrado."
                                     paginator="true"
                                     paginatorPosition="bottom"
                                     var="membro">
                            <p:column style="text-align: left; width: 24px;"> 
                                <h:button image="#{membro.avatarUrl}" styleClass="avatarComentario" 
                                          outcome="/usuario/visualizar.xhtml?faces-redirect=true" value="3">
                                    <f:param name="usuarioId" value="#{membro.id}"/>
                                </h:button>    
                            </p:column>
                            <p:column style="text-align: left;" filterStyle="width: 100%" filterBy="#{membro.nomeCompleto}" filterMatchMode="contains">
                                <p:outputLabel value="#{membro.nomeCompleto}"/>
                            </p:column>
                            <p:column width="180">
                                <p:commandButton value="Adicionar aos administradores" 
                                                 icon="ui-icon-plus"
                                                 rendered="#{!grupoView.grupo.ehAdministrador(membro)
                                                             and !grupoView.possuiConviteParaAdministradorPendente(membro)}"
                                                 action="#{grupoView.adicionarAdministrador(membro)}"/>                                    
                                <p:commandButton value="Convite para administrador pendente" 
                                                 icon="ui-icon-plus"
                                                 disabled="true"
                                                 rendered="#{!grupoView.grupo.ehAdministrador(membro)
                                                             and grupoView.possuiConviteParaAdministradorPendente(membro)}"
                                                 action="#{grupoView.adicionarAdministrador(membro)}"/>
                                <p:commandButton value="Remover dos administradores"    
                                                 icon="ui-icon-minus"                                                  
                                                 rendered="#{grupoView.grupo.ehAdministrador(membro)}"
                                                 action="#{grupoView.removerAdministrador(membro)}"/>
                            </p:column>
                            <p:column width="140">
                                <p:commandButton value="Remover do grupo"    
                                                 icon="ui-icon-minus"          
                                                 action="#{grupoView.removerDoGrupo(membro)}"/>
                            </p:column>
                        </p:dataTable>
                    </p:fieldset>
                </h:form>
            </ui:define>
        </ui:composition> 
    </h:body>
</html>
