<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <f:metadata>
        <f:viewParam name="grupoId" value="#{grupoView.grupo.id}" />
        <f:viewAction action="#{grupoView.load()}" />
        <f:viewAction if="#{not empty param['grupoId']}" action="#{publicacaoView.loadGrupo(grupoView.grupo.id)}" />
    </f:metadata>
    <h:body>
        <ui:composition template="/resources/template/layout.xhtml">
            <ui:define name="conteudo">
                <p:fieldset legend="Grupo #{grupoView.grupo.nome}" >
                    <h:form styleClass="tema" >
                        <h:panelGrid columns="2" style="width: 100%;"
                                     columnClasses="colunaTopoGrupo1, colunaTopoGrupo2">
                            <p:column >
                                <p:commandButton value="Editar grupo" icon="ui-icon-pencil" action="#{grupoView.editarGrupo()}" 
                                                 rendered="#{sessionController.loggedIn
                                                             and grupoView.grupo.administradores.contains(sessionController.usuarioLogado)}"/>
                                <p:commandButton value="Solicitar participação" icon="ui-icon-plus" action="#{grupoView.solicitarParticipacao()}" 
                                                 rendered="#{sessionController.loggedIn
                                                             and !grupoView.possuiSolicitacaoEntradaPendente()
                                                             and !grupoView.grupo.membros.contains(sessionController.usuarioLogado)}"/>
                                <p:commandButton value="Solicitação pendente" icon="ui-icon-plus" 
                                                 disabled="true"
                                                 rendered="#{sessionController.loggedIn
                                                             and grupoView.possuiSolicitacaoEntradaPendente()
                                                             and !grupoView.grupo.membros.contains(sessionController.usuarioLogado)}"/>
                            </p:column>
                            <p:column >
                                <p:commandButton value="Deixar grupo" icon="ui-icon-minus" action="#{grupoView.deixarGrupo()}" 
                                                 rendered="#{sessionController.loggedIn
                                                             and grupoView.grupo.membros.contains(sessionController.usuarioLogado)}"/>
                            </p:column>
                        </h:panelGrid>
                        <br/>
                        <p:spacer height="10"/>
                        <p:panelGrid columns="2" style="width: 100%; padding-top: 20px;" columnClasses="colunaGrupo1">
                            <p:outputLabel value="Descrição: " />
                            <p:outputLabel escape="false" value="#{grupoView.grupo.descricao}"/>
                            <p:outputLabel value="Temas: " />
                            <ui:repeat id="repeatTemas" value="#{grupoView.grupo.temas}"
                                       varStatus="temaIterator" var="tema">
                                <p:link outcome="#{publicacaoView.visualizarTema()}" value="#{tema.nome}">
                                    <f:param name="temaId" value="#{tema.id}"/>                                
                                </p:link> <p:outputLabel value=" "/>  
                            </ui:repeat>
                        </p:panelGrid>
                    </h:form>
                    <p:outputLabel value="Este conteúdo é privado. Para visualizá-lo você precisa solicitar ingresso ao grupo."
                                   rendered="#{grupoView.renderizarGrupoPrivado}"/>
                    <p:tabView rendered="#{grupoView.renderizarPublicacoes}">
                        <p:tab title="Publicações">
                            <p:panel rendered="#{grupoView.grupo.membros.contains(sessionController.usuarioLogado)}">
                                <ui:include src="../resources/template/publicacao/publicar.xhtml"/>  
                            </p:panel>
                            <ui:repeat id="repeatPublicacoes" value="#{publicacaoView.publicacoes}"
                                       varStatus="publicacaoIterator" var="publicacao">
                                <ui:include src="../resources/template/publicacao/publicacoes.xhtml"  rendered="#{!publicacao.modoEdicao}" >
                                    <ui:param name="publicacao" value="#{publicacao}"/>
                                    <ui:param name="moderador" value="#{grupoView.grupo.ehAdministrador(sessionController.usuarioLogado)}"/>
                                </ui:include>                        
                            </ui:repeat>
                        </p:tab>
                        <p:tab title="Membros">
                            <p:dataTable value="#{grupoView.grupo.membros}"   
                                         rows="50"
                                         paginator="true"
                                         var="membro">
                                <p:column style="text-align: left; width: 24px;"> 
                                    <h:button image="#{membro.avatarUrl}" styleClass="avatarComentario" outcome="/usuario/visualizar.xhtml?faces-redirect=true" value="3">
                                        <f:param name="usuarioId" value="#{membro.id}"/>
                                    </h:button>    
                                </p:column>
                                <p:column style="text-align: left;" headerText="Membros">
                                    <p:outputLabel value="#{membro.nomeCompleto}"/>
                                </p:column>
                            </p:dataTable>
                        </p:tab>
                        <p:tab title="Administradores">
                            <p:dataTable value="#{grupoView.grupo.administradores}"   
                                         rows="50"
                                         paginator="true"
                                         var="administrador">
                                <p:column style="text-align: left; width: 24px;"> 
                                    <h:button image="#{administrador.avatarUrl}" styleClass="avatarComentario" outcome="/usuario/visualizar.xhtml?faces-redirect=true" value="3">
                                        <f:param name="usuarioId" value="#{administrador.id}"/>
                                    </h:button>    
                                </p:column>
                                <p:column style="text-align: left;" headerText="Administradores">
                                    <p:outputLabel value="#{administrador.nomeCompleto}"/>
                                </p:column>
                            </p:dataTable>
                        </p:tab>
                    </p:tabView>
                </p:fieldset>
            </ui:define>
        </ui:composition> 
    </h:body>
</html>
