<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <f:metadata>
        <f:viewParam name="grupoId" value="#{grupoView.grupo.id}" />
        <f:viewAction action="#{grupoView.loadEdicao()}" if="#{not empty param['grupoId']}"/>
    </f:metadata>
    <h:body>
        <ui:composition template="/resources/template/layout.xhtml">
            <ui:define name="conteudo">
                <h:form styleClass="tema" rendered="#{sessionController.loggedIn}">
                    <p:fieldset legend="Grupo #{grupoView.grupo.nome}" >
                        <p:commandButton value="Voltar para o grupo" ajax="false" 
                                         icon="ui-icon-arrowreturn-1-w"
                                         rendered="#{!grupoView.grupo.new}" action="#{grupoView.voltarParaGrupo()}"/>
                        <p:commandButton value="Administrar usuários" icon="ui-icon-person" action="#{grupoView.administrarUsuarios()}" 
                                         rendered="#{sessionController.loggedIn
                                                     and !grupoView.grupo.new
                                                     and grupoView.grupo.administradores.contains(sessionController.usuarioLogado)}"/>
                        <br/>
                        <p:spacer height="10"/>
                        <p:messages/>
                        <p:panelGrid columns="2">
                            <p:outputLabel value="Nome: "/>
                            <p:inputText required="true" value="#{grupoView.grupo.nome}"/>
                            <p:outputLabel value="Temas: "/>
                            <p:autoComplete id="temas" multiple="true" value="#{grupoView.grupo.temas}" 
                                            completeMethod="#{grupoView.todosTemas}" 
                                            var="tema" itemLabel="#{tema.nome}" itemValue="#{tema}" 
                                            required="true"
                                            converter="#{temaConverter}" forceSelection="true">
                                <p:column>
                                    <h:outputText value="#{tema.nome}" />
                                </p:column>
                            </p:autoComplete>
                            <p:outputLabel value="Descrição: "/>
                            <p:editor value="#{grupoView.grupo.descricao}"/>
                            <p:outputLabel value="Tipo de acesso: "/>
                            <p:selectOneMenu value="#{grupoView.grupo.tipo}"> 
                                <f:selectItems value="#{grupoView.tiposGrupo}"
                                               var="grupo"
                                               itemLabel="#{grupo.descricao}"
                                               itemValue="#{grupo}"/>
                            </p:selectOneMenu>
                            <p:spacer/>
                            <p:panelGrid style="border: none !important; width: 100%;">
                                <p:commandButton value="Cancelar" style="float: right" action="#{grupoView.cancelarAlteracoes()}"/>
                                <p:commandButton value="Salvar" style="float: right" action="#{grupoView.salvar()}"/>
                            </p:panelGrid>
                        </p:panelGrid>
                    </p:fieldset>
                </h:form>
            </ui:define>
        </ui:composition> 
    </h:body>
</html>
