.ui-widget {
    font-size: 90%;
}
.ui-widget .ui-widget {
    font-size: 100%;
}

.ui-editor {
    width: 99.5% !important;
}

#menuEsquerda .ui-menu.ui-widget .ui-menu-list .ui-menuitem-link .ui-menuitem-text {
    margin-left: 6px;
    margin-top: 8px;
}

#botoesTopoDireita .ui-panelgrid tr {
    border-style: none !important;    
}

.ui-panelgrid td {
    border-style: none !important;
}

.ui-layout-pane-west, .ui-layout-pane-east {
    border: 0;
}