.logoTopo {
    background-image: url("#{resource['images:logotopo.png']}");
    height: 52px;
    float: left;
    width: 296px;
}

.botoesTopoLogin {
    float:right;
    padding-right: 20px;
    padding-top: 6px;
}

.panelGridLoginDialog {
    width: 322px;
    padding-top: 24px;
}

.formularioCadastro {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
}

.labelFormularioCadastro {
    text-align: left;
    float: left;
    font-weight:  bold;
}

.labelTituloFormularioCadastro {    
    text-align: left;
    float: left;
    font-weight:  bold;
    font-size: 32px !important;
    margin-bottom: 20px;
}

.campoPequenoFormulario {
    width: 140px;
}

.campoMedioFormulario {
    width: 280px;    
}

.campoGrandeFormulario {
    width: 560px;    
}

.formLogoTopo {
    height:0px;
    float:left;
}

.formPesquisaTopo {
    background-color: blue;
    height:0px;
    float:left;
    margin-left: 10%;
    margin-top: 14px;
}

.labelPesquisaTopo {    
    font-size: 18px !important;
    font-weight: bold;
}

.botaoPesquisaTopo {
    background: url("#{resource['images:pesquisatopobotao.png']}");
}

.formBotoesDireitaTopo {
    height:0px;
    float:right;
    margin-top: 6px;
}

.botaoPesquisaTopoImagem {
    margin-left: 2px;
    border-radius: 2px;
    vertical-align: middle;
    margin-bottom: 2px;
}

.homeIcon {
    background: url("#{resource['images:home2.png']}") no-repeat !important;
    height: 32px;
    width: 32px;
}

.editIcon {
    background: url("#{resource['images:edit2.png']}") no-repeat !important;
    height: 32px;
    width: 32px;
}

.notificacaoIcon {
    background: url("#{resource['images:notificacao-icon.png']}") no-repeat !important;
    height: 32px;
    width: 32px;
}

.mensagensIcon {
    background: url("#{resource['images:mensagens-icon.png']}") no-repeat !important;
    height: 32px;
    width: 32px;
}

.likeIcon {
    background: url("#{resource['images:like-icon.png']}") no-repeat !important;
    height: 32px;
    width: 32px;
}

.comentario1{
    width: 32px;
}

.comentario2{
    width: 100%;
}

.avatarPublicacao {
    height: 34px;
    width: 34px;
    background: red;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.avatarComentario {
    height: 24px;
    width: 24px;
    background: red;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.avatarTopo {
    background: red;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.temasVisualizacaoPublicacao {
    font-size: 11px;
}

.tituloPublicacao {
    font-size: 24px;
    font-weight: bold;
}

.colunaGrupo1 {
    width: 80px;
    text-align: right;
}

.colunaTopoGrupo1 {
     border:none !important; 
     padding: 0px !important;
}

.colunaTopoGrupo2 {
    border:none !important; padding: 0px !important;
    float: right;
}