<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:body>
        <h:form id="barraLateralForm" 
                         rendered="#{sessionController.loggedIn}">
            <p:dataTable id="tabelaAmigos"
                         var="usuarioAmigo"
                         rendered="#{sessionController.loggedIn}"
                         selectionMode="single"
                         selection="#{sessionController.usuarioConversa}"  
                         rowKey="#{usuarioAmigo}"
                         emptyMessage="Sem amigos adicionados."
                         value="#{sessionController.amigosUsuarioLogado}">                
                <p:ajax event="rowSelect"
                        listener="#{sessionController.atualizarMensagemComAmigo()}"
                        resetValues="true"
                        update=":formDialog:dialogChat :barraLateralForm:tabelaAmigos"
                        oncomplete="PF('dialogChat').show();scrollToBottom();" />
                <f:facet name="header">
                    <p:outputPanel>
                        <h:outputText value="Amigos" />
                    </p:outputPanel>
                </f:facet>
                <p:column style="font-size: 12px;">
                    <h:outputText value="#{usuarioAmigo.amigo.nomeCompleto}"  />
                </p:column>   
                <p:column style="width: 10px;font-size: 12px;">
                    <h:outputText value="#{usuarioAmigo.mensagensNaoVisualizadas}"  />
                </p:column>              
                <p:column style="width: 36px;">    
                    <h:button image="#{usuarioAmigo.amigo.avatarUrl}" styleClass="avatarPublicacao" outcome="/usuario/visualizar.xhtml?faces-redirect=true" value="3">
                        <f:param name="usuarioId" value="#{usuarioAmigo.amigo.id}"/>
                    </h:button>
                </p:column>
            </p:dataTable>
            <p:poll interval="1"
                    update="tabelaAmigos"
                    stop="#{!sessionController.loggedIn and sessionController.usuarioConversa != null}"
                    listener="#{sessionController.atualizarChat()}"/>
        </h:form>
    </h:body>
</html>