<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:body>
        <ui:composition template="/resources/template/layout.xhtml">
            <ui:define name="esquerda">
            </ui:define>
            <ui:define name="direita">
            </ui:define>
            <ui:define name="conteudo">
                <h:form styleClass="formularioCadastro">
                    <p:fieldset legend="Registre-se" >
                        <p:panelGrid id="formularioCadastroGrid"
                                     columns="1">
                            <p:messages/>
                            <p:outputLabel value="Nome:" for="nome"/>
                            <p:inputText styleClass="campoMedioFormulario" id="nome" value="#{cadastroView.usuario.nome}" required="true" />

                            <p:outputLabel value="Sobrenome:" for="sobrenome"/>
                            <p:inputText styleClass="campoMedioFormulario" id="sobrenome" value="#{cadastroView.usuario.sobrenome}" required="true" />

                            <p:outputLabel value="E-mail:" for="email"/>
                            <p:inputText styleClass="campoMedioFormulario" id="email" value="#{cadastroView.usuario.email}" required="true" />                        

                            <p:outputLabel value="Senha:" for="password"/>
                            <p:password styleClass="campoPequenoFormulario" id="password" value="#{cadastroView.usuario.senha}" required="true"/>

                            <p:outputLabel value="Confirmar senha:" for="passwordConfirmacacao"/>
                            <p:password styleClass="campoPequenoFormulario" id="passwordConfirmacacao" value="#{cadastroView.senhaConfirmacao}" required="true"/>    

                            <p:outputLabel value=""/>
                            <p:commandButton id="botaoSalvar" value="Finalizar cadastro" update="@form" action="#{cadastroView.salvar()}"/>     
                        </p:panelGrid>    
                    </p:fieldset>
                </h:form>
            </ui:define>
        </ui:composition> 
    </h:body>
</html>
