<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <f:metadata>
        <f:viewParam name="consulta" value="#{consultaView.stringConsulta}" />
    </f:metadata>
    <h:body>
        <ui:composition template="/resources/template/layout.xhtml">
            <ui:define name="conteudo">
                <p:tabView>
                    <p:tab title="Publicações">
                        <ui:repeat id="repeatPublicacoes" value="#{consultaView.publicacoes}"
                                   varStatus="publicacaoIterator" var="publicacao">
                            <ui:include src="resources/template/publicacao/publicacoes.xhtml"  rendered="#{!publicacao.modoEdicao}" >
                                <ui:param name="publicacao" value="#{publicacao}"/>
                                <ui:param name="index" value="#{true}"/>
                            </ui:include>                        
                        </ui:repeat>
                    </p:tab>
                    <p:tab title="Temas">
                        <p:dataList value="#{consultaView.temas}" var="tema" emptyMessage="Nenhum tema encontrado.">
                            <p:outputLabel style="font-size: 24px;" value="#{tema.getUrlTema(tema)}" escape="false"/>
                        </p:dataList>
                    </p:tab>
                    <p:tab title="Pessoas">                        
                        <p:dataList value="#{consultaView.usuarios}" var="usuario" emptyMessage="Nenhum usuário encontrado.">
                            <p:column style="width: 36px;">    
                                <h:button image="#{usuario.avatarUrl}" styleClass="avatarPublicacao" outcome="/usuario/visualizar.xhtml?faces-redirect=true" value="3">
                                    <f:param name="usuarioId" value="#{usuario.id}"/>
                                </h:button>
                            </p:column>
                            <p:column>
                                <p:outputLabel style="font-size: 24px;" value="      #{usuario.getUrlPerfil(usuario)}" escape="false"/>
                            </p:column>
                        </p:dataList>
                    </p:tab>
                    <p:tab title="Grupos">
                        <p:dataList value="#{consultaView.grupos}" var="grupo" emptyMessage="Nenhum grupo encontrado.">
                            <p:outputLabel style="font-size: 24px;" value="#{grupo.getUrlGrupo(grupo)}" escape="false"/>
                        </p:dataList>
                    </p:tab>
                    <p:tab title="Instituições">
                        <p:dataList value="#{consultaView.instituicoes}" var="instituicao" emptyMessage="Nenhuma instituição encontrada.">
                            <p:outputLabel style="font-size: 24px;" value="#{instituicao.getUrlInstituicao(instituicao)}" escape="false"/>
                        </p:dataList>
                    </p:tab>
                </p:tabView>
            </ui:define>
        </ui:composition> 
    </h:body>
</html>
