<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:body>
        <ui:composition template="/resources/template/layout.xhtml"> 
            <ui:define name="conteudo">
                <p:messages />
                <ui:include src="resources/template/publicacao/publicar.xhtml" />     
                <ui:repeat id="repeatPublicacoes" value="#{publicacaoView.publicacoes}"
                           varStatus="publicacaoIterator" var="publicacao" >
                    <ui:include src="resources/template/publicacao/publicacoes.xhtml"  rendered="#{!publicacao.modoEdicao}" >
                        <ui:param name="publicacao" value="#{publicacao}"/>
                        <ui:param name="moderador" value="#{false}"/>
                        <ui:param name="index" value="#{true}"/>
                    </ui:include>                        
                </ui:repeat>
            </ui:define>   
        </ui:composition> 
    </h:body>
</html>
