<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:body>
        <ui:composition template="/resources/template/layout.xhtml">
            <ui:define name="conteudo">
                <h:form styleClass="formularioCadastro">
                        <p:outputLabel styleClass="labelTituloFormularioCadastro" value="Erro 401: Você não possui permissão para acessar este recurso."/>
                </h:form>
            </ui:define>
        </ui:composition> 
    </h:body>
</html>
