<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:body> 
        <h:form> 
            <p:panelGrid rendered="#{sessionController.loggedIn}">
                <div id="menuEsquerda">   
                    <p:menu id="menuInicial" model="#{sessionController.menuInicioBarraLateralEsquerda()}" style="width: 182px;"/>
                    <p:poll interval="1"
                            update="menuInicial"
                            stop="#{!sessionController.loggedIn}"
                            listener="#{sessionController.atualizarMensagens()}"/>
                </div>
                <br/>
            </p:panelGrid>
            <p:menu rendered="#{sessionController.loggedIn and not empty sessionController.temasFavoritos}"
                    model="#{sessionController.menuTemasBarraLateralEsquerda()}"
                    style="width: 182px;"/>
            <p:menu rendered="#{sessionController.loggedIn}"
                    model="#{sessionController.menuGruposBarraLateralEsquerda()}"
                    style="width: 182px;"/>
            <p:menu rendered="#{sessionController.loggedIn}"
                    model="#{sessionController.menuInstituicoesBarraLateralEsquerda()}"
                    style="width: 182px;"/>
            <p:menu rendered="#{sessionController.loggedIn and not empty sessionController.avasDisponiveis}"
                    model="#{sessionController.menuAvasBarraLateralEsquerda()}"
                    style="width: 182px;"/>
        </h:form>
    </h:body>
</html>